html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media screen and (min-width: 0px) {
  div.wrapper {
    border: solid red 2px;
    background-color: lightslategray;
  }

  #top-bar header {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    padding-top: 4vh;
  }
  h1 a {
    font-size: 3rem;
    padding: 1vh;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 1vh;
    width: 70%;
  }

  h1,
  h2,
  h3 {
    color: #444;
    font-weight: 800;
  }

  h3 {
    font-size: 1.3rem;
  }

  ul {
    list-style: none;
  }

  nav {
    display: none;
  }

  #intro {
    padding: 3vh;
  }

  #banner-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    padding: 1vh;
    border-radius: 6px;
    background-color: white;
  }

  #banner-wrapper header h2 {
    font-size: 2rem;
    line-height: 5vh;
  }

  #banner-wrapper header p {
    font-size: 1.5rem;
    line-height: 4vh;
  }

  #button {
    text-align: center;
    font-size: 1.25em;
    padding: 0.65vh 0;
    background-color: #5f9ea0;
    padding: 2%;
    border-radius: 1vh;
  }
  #button a {
    text-decoration: none;
    color: black;
  }
  #button a:hover {
    text-decoration: underline;
    color: black;
  }

  #gallery {
    padding: 3%;
  }

  #gallery-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  section.about-box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 3vh;
    padding: 2vh;
    border-radius: 6px;
    background-color: white;
  }
  div.inner header h2 {
    line-height: 11vh;
  }
  div.inner header p {
    line-height: vh;
  }

  #footer {
    padding: 3vh;
  }

  #footer div.row {
    line-height: 3vh;
    display: flex;
    flex-flow: row wrap;
    padding: 2vh;
  }

  #footer div.column {
    padding: 2vh;
    border-bottom: solid 1px #696969;
  }
  ul.links a {
    line-height: 2vh;
    color: black;
    text-decoration: none;
  }
  ul.links a:hover {
    text-decoration: underline;
  }

  ul.copyright li a {
    text-decoration: none;
  }
  ul.copyright li a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 800px) {
  #top-bar header {
    flex-flow: row wrap;
    justify-content: start;
    margin: 3%;
  }

  nav {
    display: flex;
    border: solid 2px red;
    margin: 2%;
    margin-left: 60%;
  }

  nav ul {
    display: flex;
    flex-flow: row wrap;
  }

  nav ul li {
    margin: 6%;
  }
}

@media screen and (min-width: 1024px) {
}
