html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media screen and (min-width: 0px) {
  div.wrapper {
    background-color: #a0d6b4;
  }

  #top-bar header {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    padding-top: 4%;
  }

  #top-bar header img {
    width: 30%;
    padding: 2%;
  }

  h1 {
    width: 65%;
    margin-left: 2%;
    font-family: "Quicksand", sans-serif;
    font-size: 3rem;
    color: black;
    padding: 1%;
  }

  h2,
  h3 {
    color: #444;
    font-weight: 800;
  }

  h3 {
    font-size: 1.3rem;
  }

  ul {
    list-style: none;
  }

  nav {
    display: none;
  }

  #intro {
    padding: 1%;
  }

  #banner-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    padding: 2%;
    border-radius: 6px;
    background-color: white;
    margin-left: 4%;
    margin-right: 4%;
  }

  #banner-wrapper header h2 {
    font-size: 2rem;
    line-height: 115%;
  }

  #banner-wrapper header p {
    font-size: 1.5rem;
    line-height: 100%;
  }

  #button {
    text-align: center;
    font-size: 1.25em;
    margin: 2%;
    padding: 2%;
    background-color: lightslategray;
    border-radius: 1vh;
  }
  #button a {
    text-decoration: none;
    color: black;
  }
  #button a:hover {
    text-decoration: underline;
    color: black;
  }

  #gallery {
    padding: 3%;
  }

  #gallery-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  .about-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    margin: 3%;
    padding: 2%;
    border-radius: 6px;
    background-color: white;
  }

  div.inner {
    padding-top: 5%;
  }
  div.inner header h2 {
    padding: 2%;
  }
  div.inner header p {
    padding: 0.5%;
  }

  #footer {
    padding: 3%;
  }

  #footer div.row {
    line-height: 110%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    padding: 3%;
  }

  #footer div.column {
    padding: 2.9%;
    border-bottom: solid 1px #696969;
  }
  ul.links a {
    line-height: 100%;
    color: black;
    text-decoration: none;
  }
  ul.links a:hover {
    text-decoration: underline;
  }

  ul.copyright li a {
    text-decoration: none;
  }
  ul.copyright li a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 800px) {
  #top-bar header {
    flex-flow: row wrap;
    justify-content: center;
  }

  #top-bar header img {
    height: 20%;
    width: 20%;
  }

  h1 {
    width: 49%;
  }

  nav {
    display: flex;
    /* border: solid 2px red; */
    margin: 2%;
    margin-left: 50%;
  }

  nav ul {
    display: flex;
    /* border: solid 2px blue; */
    flex-flow: row wrap;
    width: 100%;
  }

  nav ul li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto 3%;
  }

  #top-bar nav ul li h2,
  #top-bar nav ul li a {
    font-size: 1.4rem;
    padding: 5%;
    text-align: center;
    background-color: lightslategray;
    border-radius: 1vh;
    text-decoration: none;
    color: black;
  }

  #top-bar nav ul li a:hover {
    text-decoration: underline;
    color: purple;
  }

  #banner-wrapper {
    padding: 3%;
    margin: auto 9%;
  }

  #button {
    margin-top: 2%;
    width: 60%;
  }

  #Gallery-wrapper {
    display: flex;
    flex-flow: row wrap;
  }

  .about-box {
    height: 45vh;
    width: 28vh;
    margin: 1%;
  }
  .about-box img {
    height: auto;

    width: 90%;
  }

  #footer div.row {
    flex-flow: row wrap;
    justify-content: center;
  }

  ul.copyright {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  ul.copyright li {
    padding: 3%;
  }
}

@media screen and (min-width: 1024px) {
  #top-bar header {
    margin-top: 0;
  }

  #top-header header img {
    width: 13vh;
    height: 13vh;
  }

  h1 {
    width: 38%;
  }

  #banner-wrapper {
    flex-flow: row wrap;
    justify-content: center;
    padding: 6%;
  }

  #banner-wrapper header {
    text-align: left;
  }

  #button {
    width: 20%;
    margin-left: 30%;
    margin-top: 0;
  }

  #gallery {
    margin: auto 3%;
    padding: 1%;
  }

  .about-box {
    height: 30vh;
    width: 20vh;
    margin: 1%;
  }
}
